@media (max-width: 1920px) {
  .t1 {
    max-width: 100%;
  }
  .t2 {
    max-width: 100%;
  }
  .t3 {
    max-width: 100%;
  }
  .mint1 {
    max-width: 100%;
  }
  .mint2 {
    max-width: 100%;
  }
  .mint3 {
    max-width: 100%;
  }
  .mint4 {
    max-width: 100%;
  }
  .mint5 {
    max-width: 100%;
  }
  .mint6 {
    max-width: 100%;
  }
  .mint7 {
    max-width: 100%;
  }
  .mint8 {
    max-width: 100%;
  }
  .fut1 {
    max-width: 100%;
  }
  .fut2 {
    max-width: 100%;
  }
  .logo img{
    max-width: 100%;
  }
  .imgtwo {
    max-width: 100%;
  }
  .img4 {
    max-width: 100%;
  }
  .img5 {
    max-width: 100%;
  }
  .img6 {
    max-width: 100%;
  }
  .img7 {
    max-width: 100%;
  }
  .img8 {
    max-width: 100%;
  }
  .img177 {
    max-width: 100%;
  }
  .pos1 {
    max-width: 100%;
  }
  .but4 {
    max-width: 100%;
  }
  .ball4 {
    max-width: 100%;
  }
  .but5 {
    max-width: 100%;
  }
  .ball5 {
    max-width: 100%;
  }
  .but6 {
    max-width: 100%;
  }
  .ball6 {
    max-width: 100%;
  }
  .imgsection4 {
    max-width: 100%;
  }
  .but7 {
    max-width: 100%;
  }
  .ball7 {
    max-width: 100%;
  }
  .but8 {
    max-width: 100%;
  }
  .ball8 {
    max-width: 100%;
  }
  .but9 {
    max-width: 100%;
  }
  .ball9 {
    max-width: 100%;
  }
  .imgsection5 {
    max-width: 100%;
  }
  .but1 {
    max-width: 100%;
  }
  .but2 {
    max-width: 100%;
  }
  .but3 {
    max-width: 100%;
  }
  .ball {
    max-width: 100%;
  }
  .ball2 {
    max-width: 100%;
  }
  .ball3 {
    max-width: 100%;
  }
  .imgsection3 {
    max-width: 100%;
  }
  .penn {
    max-width: 100%;
  }
  .but10 {
    max-width: 100%;
  }
  .img23 {
    max-width: 100%;
  }
  .img24 {
    max-width: 100%;
  }
  .imgone2 {
    max-width: 100%;
  }
  .imgone {
    max-width: 100%;
  }
  .img27 {
    max-width: 100%;
  }
  .img28 {
    max-width: 100%;
  }
  .img177 {
    max-width: 100%;
  }
  .img199 {
    max-width: 100%;
  }
  .img111 {
    max-width: 100%;
  }
  .img11 {
    max-width: 100%;
  }
  .img133 {
    max-width: 100%;
  }
  .img13 {
    max-width: 100%;
  }
  .img155 {
    max-width: 100%;
  }
  .img15 {
    max-width: 100%;
  }
  .infomenu {
    max-width: 100%;
  }
  .img29 {
    max-width: 100%;
  }
  .img211 {
    max-width: 100%;
  }
  .twobod {
    max-width: 100%;
  }
  .infomenutwo {
    max-width: 100%;
  }
  .imgkrest {
    max-width: 100%;
  }
  .tfortwo {
    max-width: 100%;
  }
  .imgf {
    max-width: 100%;
  }
  .imgf2 {
    max-width: 100%;
  }
  .imgf3 {
    max-width: 100%;
  }
  .imgf4 {
    max-width: 100%;
  }
  .project {
    max-width: 100%;
  }
  .book {
    max-width: 100%;
  }
  .mintf1 {
    max-width: 100%;
  }
  p{
    max-width: 100%;
  }
  .imgone {
    max-width: 100%;
  }
}
@media (max-width: 1440px) {
  .t1 {
    position: absolute;
    z-index: 1;
    font-size: 77px;
    font-family: "Didona", Serif;
    margin: 68.54px 0px 0px 177.17px;/*верхнего, правого, нижнего и левого края.*/
    font-weight: 100;
  }
  .t2 {
    position: absolute;
    z-index: 2;
    font-size: 23px;
    font-family: "Montserrat-Medium", sans-serif;
    margin: 149.72px 0px 0px 178.51px;/*верхнего, правого, нижнего и левого края.*/
    font-weight: 200;
  }
  .t3 {
    position: absolute;
    z-index: 3;
    font-size: 19px;
    font-family: "Montserrat-Medium", sans-serif;
    margin: 948.35px 0px 0px 629.23px;/*верхнего, правого, нижнего и левого края.*/
    font-weight: 200;
  }
  .mint1 {
    position: absolute;
    z-index: 4;
    margin: 344.03px 0px 0px 295.2px;
  }
  .mint2 {
    position: absolute;
    z-index: 5;
    margin: 482.38px 0px 0px 654.18px;
  }
  .mint3 {
    position: absolute;
    z-index: 6;
    margin: 223.71px 0px 0px 1014.68px;
  }
  .mint4 {
    position: absolute;
    z-index: 7;
    margin: 434.71px 0px 0px 917.2px;
  }
  .mint5 {
    position: absolute;
    z-index: 8;
    margin: 1107.5px 0px 0px 1084.64px;
  }
  .mint6 {
    position: absolute;
    z-index: 9;
    margin: 1021.38px 0px 0px 477.81px;
  }
  .mint7 {
    position: absolute;
    z-index: 0;
    margin: 1022.67px 0px 0px 295.72px;
  }
  .mint8 {
    position: absolute;
    z-index: 100;
    margin: 532.38px 0px 0px 23.76px;
  }
  p{
    font-weight: 200;
    font-size: 15px;
    font-family: "Montserrat-Medium", sans-serif;
  }
  .fut1 {
    position: absolute;
    z-index: 11;
    font-size: 14px;
    font-family: "Montserrat-Medium", sans-serif;
    margin: 1221.2px 0px 0px 177.53px;/*верхнего, правого, нижнего и левого края.*/
    font-weight: 200;
  }
  .fut2 {
    position: absolute;
    z-index: 12;
    font-size: 14px;
    font-family: "Montserrat-Medium", sans-serif;
    margin: 1221.2px 0px 0px 287.17px;/*верхнего, правого, нижнего и левого края.*/
    font-weight: 200;
  }
  .logo img{
    position: absolute;
    z-index: -99;
    width: 86px;
    height: 32px;
    margin: 1220px 0px 0px 429px;
  }
  .imgone {
    cursor: pointer;
    z-index: 100;
    width: 94.24px;
    height: 95.26px;
  }
  .imgone {
    position:absolute;
    margin: 240.91px 0px 0px 218.95px;
  }
  .imgtwo img{
    position: absolute;
    z-index: 13;
    width: 234.44px;
    height: 329px;
    margin: 908px 0px 0px 10px;/*верхнего, правого, нижнего и левого края.*/
  }
  .img4 img{
    position: absolute;
    z-index: 14;
    width: 440px;
    height: 187.57px;
    margin: 1111.43px 0px 0px 533px;/*верхнего, правого, нижнего и левого края.*/
  }
  .img5 img{
    position: absolute;
    z-index: 15;
    width: 147.08px;
    height: 236.04px;
    margin: 978.88px 0px 0px 852.28px;/*верхнего, правого, нижнего и левого края.*/
  }
  .img7 img{
    position: absolute;
    z-index: -97;
    width: 50px;
    height: 134.93px;
    margin: 506.18px 0px 0px 569.52px;/*верхнего, правого, нижнего и левого края.*/
  }
  .img8 img{
    position: absolute;
    z-index: 100;
    width: 197.55px;
    height: 389.3px;
    margin: 497.31px 0px 0px 1027.97px;/*верхнего, правого, нижнего и левого края.*/
  }
  .img11 {
    width: 52.3px;
    height: 407.36px;
    transform: rotate(-144.81deg);
  } /* первая ручка */
  .img111 {
    position: absolute;
    margin: 439.45px 0px 0px 681.33px;
  }
  .img13 {
    width: 52.49px;
    height: 408.9px;
    transform: rotate(-149.95deg);
  } /* вторая ручка */
  .img133 {
    position: absolute;
    margin: 541.04px 0px 0px 685.19px;
  }
  .img15 {
    width: 52.49px;
    height: 408.9px;
    transform: rotate(-69.98deg);
  } /*третья ручка*/
  .img155 {
    position: absolute;
    margin: 799.2px 0px 0px 964.86px;
  }
  .img177 {
    cursor: pointer;
    position: absolute;
    margin: 1059px 0px 0px 1192px;
    width: 248px;
    height: 240px;
  } /* чашка кофе */
  .img199 {
    cursor: pointer;
    position: absolute;
    margin: 345px 0px 0px 924px;
  } /* скомканный лист*/
  .but8 {
    max-width: 100%;
  }
  .ball8 {
    max-width: 100%;
  }
  .but9 {
    max-width: 100%;
  }
  .ball9 {
    max-width: 100%;
  }
  .imgsection5 {
    max-width: 100%;
  }
  .but1 {
    max-width: 100%;
  }
  .but2 {
    max-width: 100%;
  }
  .but3 {
    max-width: 100%;
  }
  .ball {
    max-width: 100%;
  }
  .ball2 {
    max-width: 100%;
  }
  .ball3 {
    max-width: 100%;
  }
  .imgsection3 {
    max-width: 100%;
  }
  .penn {
    max-width: 100%;
  }
  .but10 {
    max-width: 100%;
  }
  .img23 {
    max-width: 100%;
  }
  .img24 {
    max-width: 100%;
  }
  .imgone2 {
    max-width: 100%;
  }
  .imgone {
    max-width: 100%;
  }
  .img27 {
    max-width: 100%;
  }
  .img28 {
    max-width: 100%;
  }
  .img177 {
    max-width: 100%;
  }
  .img199 {
    max-width: 100%;
  }
  .img111 {
    max-width: 100%;
  }
  .img11 {
    max-width: 100%;
  }
  .img133 {
    max-width: 100%;
  }
  .img13 {
    max-width: 100%;
  }
  .img155 {
    max-width: 100%;
  }
  .img15 {
    max-width: 100%;
  }
  .infomenu {
    max-width: 100%;
  }
  .img29 {
    max-width: 100%;
  }
  .img211 {
    max-width: 100%;
  }
  .twobod {
    max-width: 100%;
  }
  .infomenutwo {
    max-width: 100%;
  }
  .imgkrest {
    max-width: 100%;
  }
  .tfortwo {
    max-width: 100%;
  }
  .imgf {
    max-width: 100%;
  }
  .imgf2 {
    max-width: 100%;
  }
  .imgf3 {
    max-width: 100%;
  }
  .imgf4 {
    max-width: 100%;
  }
  .project {
    max-width: 100%;
  }
  .book {
    max-width: 100%;
  }
  .mintf1 {
    max-width: 100%;
  }
}
@media (max-width: 768px) {

}
